body > #root > div #startpage,
body > #root > div #gallery,
body > #root > div #aboutme {
  height: 100vh;
  background-color: var(--background);
  background-image: url('images/teaser1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  padding-top: 130px;
}
#gallery,
#aboutme {
  height: 100% !important;
  min-height: 100vh !important;
}

:root {
  --grey: #333333;
  --marrsgreen: #008c8c;
  --marrsgreendark: #004a4a;
  --background: #f8f8fa;
}
.bg-dark {
  background-color: var(--grey) !important;
  border-bottom: 5px solid var(--marrsgreen);
}
.logo {
  animation: float infinite 1.5s ease-in-out;
  height: 60px;
}
.nav-item a:hover {
  color: transparent;
}
.collapsing ul li,
.collapse.show ul li {
  border: 2px solid var(--background);
  border-radius: 5px;
  margin-bottom: 20px;
}
.collapsing ul li .nav-link,
.collapse.show ul li .nav-link {
  color: var(--background) !important;
}
.intro-text-outer {
  margin-bottom: 7%;
}
.intro-text {
  text-transform: uppercase;
  color: var(--background);
}
.intro-text-typed {
  text-transform: uppercase;
  color: var(--marrsgreen);
  font-size: 4rem;
  font-weight: 600;
}
.intro-text-typed-gallery {
  text-transform: uppercase;
  color: var(--background);
  font-size: 2em;
  font-weight: 600;
  background-color: var(--marrsgreen);
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 5px;
}
.welcome-text {
  color: var(--background);
}
.btn-primary {
  background-color: var(--marrsgreen) !important;
  border-color: var(--marrsgreen) !important;
}
.btn-primary:hover {
  color: var(--background) !important;
  background-color: var(--marrsgreendark) !important;
  border-color: var(--marrsgreendark) !important;
}
.carousel-indicators .active {
  background-color: var(--marrsgreen) !important;
}
.carousel-item img {
  width: 100%;
}

.galleryview,
.aboutmeview {
  margin-top: 5%;
  margin-bottom: 5%;
}
.react-photo-gallery--gallery img {
  border-radius: 10px;
}
.gallery-container {
  transition: opacity 0.4s ease-in-out;
}
.fade-out {
  opacity: 0;
}

.personal-aboutme {
  border-bottom: 10px solid var(--marrsgreen);
}
.ml-image {
  animation: float-big infinite 2.5s ease-in-out;
}
.list-group-item {
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
}
.jobcard {
  border-bottom: 10px solid var(--marrsgreen) !important;
}
.jobtitle {
  color: var(--marrsgreen);
  text-transform: uppercase;
}
.jobposition,
.jobemployment,
.jobwebsite {
  color: var(--marrsgreendark);
}

.green-text {
  color: var(--marrsgreen) !important;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes float-big {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
